#cuerpo1{
    background-color: aqua;
}
nav {
    width: 800px;
    background-color: #333;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Estilos para el campo de búsqueda */
.search-container {
    float: right;
}
input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #ccc;
}
#invisiblecuepo1{
    width: 820px;
    height: 500px;
    border: 0px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
} 
#titulos{
    width: 800px;
    height: 60px;
    border: 0px solid blue;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}  
#titulo1{
    width: 300px;
    height: 50px;
    border: 0px solid blue;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#titulo2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: darkblue;
}
#titulo2 {
    display: inline-block;
    animation: cambio-color 5s infinite;
}

@keyframes cambio-color {
    0% { color: red; }
    10% { color: orange; }
    20% { color: yellow; }
    30% { color: green; }
    40% { color: blue; }
    50% { color: indigo; }
    60% { color: violet; }
    70% { color: red; }
    80% { color: orange; }
    90% { color: yellow; }
    100% { color: green; }
}
#icono{
    height: 60px;
    width: 100px;
}
#mitad{
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
#spanmitad{
    width: 800px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid black;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: space-evenly;
}
#spanmedio1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: lightseagreen;
}
#spanmedio2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: lightseagreen;
}
footer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.copy-right {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.copy-right p {
    margin: 0;
}

.copy-right p .marca-registrada {
    font-size: 30px; /* Tamaño de la marca registrada */
    vertical-align: middle; /* Alinea verticalmente con el texto */
}